body {
    background: #191970;
    font-family: 'Slabo 27px', serif;
    color: yellow;
}

#logo {
    width: 50rem;;
    margin: 0 auto;
}

#get_started {
    text-decoration: none;
    width: 200px;
    height: 45px;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: yellow;
    text-align: center;
    margin: 8rem auto;
    font-family: 'Slabo 27px', serif;
    font-size: 2rem;
    color: black;
}

#get_started:hover {
    background-color: orange;
}

#entries {
    text-align: center;
    margin: 3rem auto;
}
